*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
body{
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
.animated{
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 1s;
}
@keyframes slide-in{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* scroll button*/
#progress{
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 45px;
    height: 45px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0,0,10px rgb(225, 222, 216);
    cursor: pointer;
}
#progress-value{
    display: block;
    height: calc(98% - 3px);
    width: calc(98% - 3px);
    background-color: rgb(241, 145, 0);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
}
/*styling top-footer */
.top-footer{
    background: black;
    height: 40px;
}
.top-footer .box{
    position: relative;
    padding: 10px 0;
    display: flex;
    
}
.top-footer .box .icon{
    min-width: 60px;
    height: 15px;
    color: rgb(230, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.top-footer .box .text{
    display: flex;
    font-size: 14px;
    color: #fff;
    height: 10px;
    text-overflow: ellipsis;
}
.social-link-list{
    display: flex;
    margin-left: 740px;
    align-items: center;
    gap: 20px;
}
.social-link-list .social-link{
    color: bisque;
    font-size: 16px;
}
.social-link-list .social-link:hover{
    color: orange;
}
/*styliing the header*/
header{
    width: 100%;
    min-height: 60px;
    background: url(../Images/bg.jpg);
    background-position: bottom;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo{
    width: 90px;
}
header ul{
    position: relative;
}
header ul li{
    position: relative;
    list-style: none;
    float: left;
}
header ul li a{
    color: white;
    font-size: 18px;
    padding: 20px 25px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
header ul li a:hover{
    background: orange;
    color: black;
}
/*heros about*/
.hero-about{
    background: url(../Images/Untitled.png);
    background-size: cover;
    height: 75vh;
}
.content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10%;
}
.content h2{
    color: rgb(255, 115, 0);
    font-size: 80px;
}
.content p{
    color: #fff;
    font-size: 25px;
}
/*styling about-section*/
.about-section{
    background-color: rgb(30, 24, 108);
    padding: 70px;
    border: 50px;
}
.container{
    display: flex;
    gap: 100px;
}
.title h3{
    color: #fff;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.title .open-text{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.image-section img{
    width: 550px;
    height: 60vh;
    margin-bottom: 80px;
}
/*styling why-us*/
.why-us{
    background: url(../Images/white.jpg);
    background-size: cover;
    padding: 70px;
    border: 50px;
     
}
.element{
    display: flex;
}
.content-element{
    margin-top: 40px;
}
.content-element .element-title{
    font-size: 40px;
    color: rgb(255, 98, 0);
    margin-bottom: 30px;
}
.content-element .element-text{
    font-size: 20px;
    text-align: left;
    color: black;
}
/* counter up */
.counter-up{
    background: url(../Images/pexels-misael-garcia-832776-1707823.jpg);
    background-size: inherit;
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-bottom: 60px;
    padding-top: 60px;
}
.counter{
    position: relative;
    display: flex;
    margin: 50px;
    gap: 150px;
}
.digits{
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
.texts{
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.fig{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.prof{
    width: 50px;
}
.fig:hover{
    width: 220px;
}
/* our philosophy */
.our-value{
    background-color: #f87400;
}
.core-value{
    padding: 15px 9%;
    padding-bottom: 100px;
}
.core-value .core-heading{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    color: #ffffff;
    font-size: 40px;
}
.core-value .core-text{
    text-align: center;
    padding-bottom: 70px;
    color: #fff;
    font-size: 18px;
}
.core-value .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;
}
.core-value .box-container .box{
    box-shadow: 1px 1px rgb(255, 115, 0);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.842);
    text-align: center;
    padding: 30px 20px;
}
.core-value .box-container .box .prof{
    width: 100px;
    background: rgb(255, 115, 0);
    padding: 20px;
    border-radius: 50px;
}
.core-value .box-container .box .prof:hover{
    transform: scale(1.03);
}
.core-value .box-container .box h3{
    color: rgb(87, 50, 3);
    font-size: 30px;
    padding: 20px 0;
}
.core-value .box-container .box p{
    font-size: 18px;
    line-height: 20px;
}
.core-value .box-container .box:hover{
    box-shadow: 0px 4px 8px rgb(10, 10, 10);
    transform: scale(1.03);
}
/*styling our team*/
.team-section{
    background-image: url(../Images/pexels-paul-loh-65233-233698.jpg);
    background-size: cover;
    min-height: 40vh;
    padding: 25px;
    margin: auto;
    text-align: center;
    background-color: #000000;
    padding-bottom: 60px;
    padding-top: 60px;
}
.team-section h2{
    font-size: 40px;
    color: #ca4a00;
    margin-bottom: 30px;
}
.team-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.team-member{
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(10, 10, 10);
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.team-member:hover{
    transform: translateY(-10px);
}
.team-member img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid  rgb(235, 156, 10);
    object-fit: cover;
    margin-bottom: 10px;
}
.team-member h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.team-member .heading{
    font-size: 18px;
    color: #3f2611;
    margin-bottom: 10px;
}
.team-member .words{
    font-size: 16px;
    color: #3f2611;
    line-height: 20px;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: orange;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}
.slideshow-container .core-heading{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #ffffff;
    font-size: 35px;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: orange;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(79, 78, 77);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
    font-size: 19px;
}

/* Add a blue color to the author */
.author {
    color: black;
    margin-top: 20px;
}
/* styling footer */
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background: black;
    padding: 70px 10px;
}
ul{
    list-style: none;
    text-align: center;
    
}
.list{
    padding: 7px;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50px -50px);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #0004f8;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.footer-col{
    width: 25%;
    padding: 7px;
}
.footer-col h2 {
    position: relative; /* Required for ::before to position properly */
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffffb0;
}
.footer-col h2::before {
    content: "";
    position: absolute;
    left: 50%; /* Center the line */
    transform: translateX(-50%);
    bottom: -6px;
    background-color: #c7bbbb;
    height: 2px;
    width: 40px;
}
 .footer-col p{
    color: #fff;
    width: 260px;
    margin: auto;
    padding: 7px;
 }
 .social-icons{
    text-align: center;
    padding: 7px;
 }
 .social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
   
 }
 .social-icons i{
    color: white;
    font-size: 20px;
 }
 a{
    text-decoration: none;
    color: #ffffff;
 }
 a:hover{
    color: #f87800;
 }
 .social-icons i:hover{
    color: #f87800;
 }
 .bottom-bar{
    text-align: center;
    padding: 10px 0;
    margin: auto;
    margin-top: 50px;
 }
.bottom-bar p{
    color: #ffffff;
    margin: auto;
    font-size: 18px;
    padding: 7px;
}
/*styling bottom-footer*/
.bottom-footer{
    text-align: center;
    background-color: #4e4d4d;
}
.craft{
    padding: 6px ;
}
.craft p{
    color: #fff;
}
.craft a{
    color: #f87400;
}
.craft a:hover{
    color: red;
}
/* responsiveness*/
@media (max-width: 1115px){
    .social-link-list{
        margin-left: 450px;
    }
    .content{
        width: 85%;
    }
    header .logo{
        width: 85px;
        left: 30px;
    }
    header ul li a{
        font-size: 15px;
        padding: 15px 25px;
    }
    .content{
        left: 10%;
    }
    .image-element img{
        width: 250px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    .container{
        display: flex;
        gap: 50px;
    }
    .title h3{
        color: #fff;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .title .open-text{
        color: #fff;
        font-size: 18px;
        text-align: left;
    }
}
@media (max-width: 900px){
    .top-footer {
        display: none;
    }
    header{
        padding: 10px 20px;
    }
    header .logo{
        width: 95px;
    }
    header nav{
        position: absolute;
        width: 50%;
        top: 115px;
        left: 0;
        background: black;
        background-position: left;
        display: none;
        z-index: 1000;
    }
    header.active nav{
        display: initial;
    }
    header nav ul li{
        width: 100%;
    }
    header nav ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    header nav ul li:hover ul li{
        background: rgb(0, 0, 0);
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before{
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }
    .menuToggle::after{
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background: white;
        transform: translateY(12px);
    }
    header.active .menuToggle::before{
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }
    header.active .menuToggle::after{
        transform: rotate(315deg);
    }
    .content{
        left: 9%;
    }
    .container{
        display: inline;
        gap: 10px;
    }
    .image-section img{
        width: 330px;
        height: 40vh;
        margin-top: 20px;
    }
    .about-section{
        padding: 30px;
        border: 20px;
    }
    .why-us{
        padding: 30px;
        border: 20px; 
    }
    .element{
        display: inline;
    }
    .image-element img{
        width: 300px;
        margin-right: 30px;
    }
    .counter{
        display: inline;
        margin: 50px;
        gap: 200px;
    }
    .prof{
        width: 50px;
        margin-top: 50px;
    }
    .content-element .element-title{
        font-size: 35px;
    }
    .content-element .element-text{
        font-size: 18px;
    }
    footer{
        flex-direction: column;
    }
    .footer-col {
        width: 100%;
    }
    .footer-col p {
        width: 100%;
    }
    .footer-col h2 {
        text-align: left;
    }
    .footer-col h2::before {
        left: 5%; /* Center the line */
    }
    .social-icons{
        text-align: left;
        padding: 7px;
    }
    .list li{
        text-align: left;
        border-bottom: 1px solid #ffffff79;
    }
    .list li::before{
        display: none;
    }
    .footer-col h2::before {
        display: none;
    }
}