*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* scroll button*/
#progress{
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 45px;
    height: 45px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0,0,10px rgb(225, 222, 216);
    cursor: pointer;
}
#progress-value{
    display: block;
    height: calc(98% - 3px);
    width: calc(98% - 3px);
    background-color: rgb(241, 145, 0);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
}
/*styling top-footer */
.top-footer{
    background: black;
    height: 40px;
}
.top-footer .box{
    position: relative;
    padding: 10px 0;
    display: flex;
    
}
.top-footer .box .icon{
    min-width: 60px;
    height: 15px;
    color: rgb(230, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.top-footer .box .text{
    display: flex;
    font-size: 14px;
    color: #fff;
    height: 10px;
    text-overflow: ellipsis;
}
.social-link-list{
    display: flex;
    margin-left: 740px;
    align-items: center;
    gap: 20px;
}
.social-link-list .social-link{
    color: bisque;
    font-size: 16px;
}
.social-link-list .social-link:hover{
    color: orange;
}
/*styliing the header*/
header{
    width: 100%;
    min-height: 60px;
    background: url(../Images/bg.jpg);
    background-position: bottom;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo{
    width: 90px;
}
header ul{
    position: relative;
}
header ul li{
    position: relative;
    list-style: none;
    float: left;
}
header ul li a{
    color: white;
    font-size: 18px;
    padding: 20px 25px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
header ul li a:hover{
    background: orange;
    color: black;
}
/*heros about*/
.hero-service{
    background: url(../Images/pexels-misael-garcia-832776-1707823.jpg);
    background-size: cover;
    height: 50vh;
}
.content{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 10%;
}
.content h2{
    color: rgb(255, 115, 0);
    font-size: 58px;
}
.content p{
    color: #fff;
    font-size: 20px;
}
/* styling service */
.container{
    unicode-bidi: isolate;
    padding: 60px 9%;
    scroll-margin-top: 80px;
    overflow: clip;
    background-color: #ffffff;
}
.box-container{
    display: flex;
     --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-left: auto;
    margin-right: auto;
    gap: 50px;
}
.container .box-content{
    box-shadow: 0px 2px 20px rgb(10, 10, 10);
    background: rgb(255, 255, 255);
    padding: 20px;
    display: block;
    margin-top: 20px;
}
.container .box-container .box-content h3{
    font-size: 28px;
    color: #1f1f1f;
}
.container .box-container .box-content a{
    color: rgb(0, 0, 0);
    background-color: #66666694;
    display: flex;
    align-items: center;
    padding: 10px 70px;
    margin-top: 15px;
    font-size: 16px;
}
.container .box-container .box-content a:hover{
    background-color: #0000008d;
    color: white;
}
.container .box-container .box-content a.active{
    background-color: #d0d1ff;
    color: #000000;
}
.container .box-container .box-content a.active:hover{
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
}
.container .box-container .box-content a.active i{
    color: #c30000;
}
.container .box-container .box-content a i{
    margin-right: 50px;
    font-size: 19px;
    color: #c30000;
}
.container .box-container .box-content i::before,::after{
    box-sizing: border-box;
}
.container .info{
    text-align: left;
}
.container .info h2{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
}
.container ul li{
    display: flex;
    padding: 5px 0;
    align-items: center;
}
.container ul i{
    color: rgb(255, 81, 0);
    margin-right: 8px;
}
.container .info .open-text{
    font-size: 16px;
    text-align: justify;
    
}
.container .info-image{
    margin-bottom: 20px;
    margin-top: 20px;
}
.info-image{
    max-width: 100%;
    height: auto;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: orange;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}
.slideshow-container .core-heading{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #ffffff;
    font-size: 35px;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: orange;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(79, 78, 77);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
    font-size: 19px;
}

/* Add a blue color to the author */
.author {
    color: black;
    margin-top: 20px;
}
/* styling footer */
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background: black;
    padding: 70px 10px;
}
ul{
    list-style: none;
    text-align: center;
    
}
.list{
    padding: 7px;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50px -50px);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #0004f8;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.footer-col{
    width: 25%;
    padding: 7px;
}
.footer-col h2 {
    position: relative; /* Required for ::before to position properly */
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffffb0;
}
.footer-col h2::before {
    content: "";
    position: absolute;
    left: 50%; /* Center the line */
    transform: translateX(-50%);
    bottom: -6px;
    background-color: #c7bbbb;
    height: 2px;
    width: 40px;
}
 .footer-col p{
    color: #fff;
    width: 260px;
    margin: auto;
    padding: 7px;
 }
 .social-icons{
    text-align: center;
    padding: 7px;
 }
 .social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
   
 }
 .social-icons i{
    color: white;
    font-size: 20px;
 }
 a{
    text-decoration: none;
    color: #ffffff;
 }
 a:hover{
    color: #f87800;
 }
 .social-icons i:hover{
    color: #f87800;
 }
 .bottom-bar{
    text-align: center;
    padding: 10px 0;
    margin: auto;
    margin-top: 50px;
 }
.bottom-bar p{
    color: #ffffff;
    margin: auto;
    font-size: 18px;
    padding: 7px;
}
/*styling bottom-footer*/
.bottom-footer{
    text-align: center;
    background-color: #4e4d4d;
}
.craft{
    padding: 6px ;
}
.craft p{
    color: #fff;
}
.craft a{
    color: #f87400;
}
.craft a:hover{
    color: red;
}
/* responsiveness*/
@media (max-width: 1115px){
    .social-link-list{
        margin-left: 450px;
    }
    .content{
        width: 85%;
    }
    header .logo{
        width: 85px;
        left: 30px;
    }
    header ul li a{
        font-size: 15px;
        padding: 15px 25px;
    }
    .container{
        scroll-margin-top: 58px;
        padding: 40px 10%;
    }
    .container .info-image{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .info-image{
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 900px){
    .top-footer {
        display: none;
    }
    header{
        padding: 10px 20px;
    }
    header .logo{
        width: 95px;
    }
    header nav{
        position: absolute;
        width: 50%;
        top: 115px;
        left: 0;
        background: black;
        background-position: left;
        display: none;
        z-index: 1000;
    }
    header.active nav{
        display: initial;
    }
    header nav ul li{
        width: 100%;
    }
    header nav ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }
    header nav ul li:hover ul li{
        background: rgb(0, 0, 0);
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before{
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }
    .menuToggle::after{
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background: white;
        transform: translateY(12px);
    }
    header.active .menuToggle::before{
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }
    header.active .menuToggle::after{
        transform: rotate(315deg);
    }
    .container{
        scroll-margin-top: 58px;
        padding: 60px 10%;
    }
    .box-container{
        display: inline;
    }
    .container .info-image{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .info-image{
        max-width: 100%;
        height: auto;
    }
    footer{
        flex-direction: column;
    }
    .footer-col {
        width: 100%;
    }
    .footer-col p {
        width: 100%;
    }
    .footer-col h2 {
        text-align: left;
    }
    .footer-col h2::before {
        left: 5%; /* Center the line */
    }
    .social-icons{
        text-align: left;
        padding: 7px;
    }
    .list li{
        text-align: left;
        border-bottom: 1px solid #ffffff79;
    }
    .list li::before{
        display: none;
    }
    .footer-col h2::before {
        display: none;
    }
}