*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: white;
}
/* scroll button*/
#progress{
    position: fixed;
     bottom: 20px;
    right: 10px;
    width: 45px;
    height: 45px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0,0,10px rgb(225, 222, 216);
    cursor: pointer;
    z-index: 9999;
}
#progress-value{
    display: block;
    height: calc(98% - 3px);
    width: calc(98% - 3px);
    background-color: rgb(241, 145, 0);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
}
/*styling top-footer */
.top-footer{
    background: black;
    height: 40px;
}
.top-footer .box{
    position: relative;
    padding: 10px 0;
    display: flex;
    
}
.top-footer .box .icon{
    min-width: 60px;
    height: 15px;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.top-footer .box .text{
    display: flex;
    font-size: 14px;
    color: #fff;
    height: 10px;
    text-overflow: ellipsis;
}
.social-link-list{
    display: flex;
    margin-left: 740px;
    align-items: center;
    gap: 20px;
}
.social-link-list .social-link{
    color: bisque;
    font-size: 16px;
}
.social-link-list .social-link:hover{
    color: orange;
}
/*styliing the header*/
header{
    width: 100%;
    min-height: 60px;
    background: url(../Images/bg.jpg);
    background-position: bottom;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .logo{
    width: 90px;
}
header ul{
    position: relative;
}
header ul li{
    position: relative;
    list-style: none;
    float: left;
}
header ul li a{
    color: white;
    font-size: 18px;
    padding: 20px 25px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
header ul li a:hover{
    background: orange;
    color: black;
}
/* styling whatsapp*/
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.whatsapp-float:hover {
    transform: scale(1.1);
}
/* Caption text */
.hero-section{
    height: 100vh;
    background-image: url(Images/Untitled.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: bgchange 20s linear infinite;
}

@keyframes bgchange{
    0% {
        background-image: url(../Images/Untitled.png);
    }
    25% {
        background-image: url(../Images/pexels-divinetechygirl-1181467.jpg);
    }
    50% {
        background-image: url(../Images/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
    }
    75%{
        background-image: url(../Images/pexels-divinetechygirl-1181467.jpg);
    }
    100% {
        background-image: url(../Images/imag.png);
    }
}
.content{
    text-align: center;
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 100%;
}
.content span{
    display: block;
}
.caption1{
    color: rgb(255, 115, 0);
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    background: transparent;
    position: relative;
    animation: text 5s 1;
    animation-iteration-count: infinite;
}
.caption2{
    color: bisque;
    font-size: 19px;
    letter-spacing: normal;
    margin-bottom: 30px;
}
.button-Contact{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    background:rgb(255, 102, 0) ;
}
.button-Contact:hover{
    color: white;
    border-color: white;
    background: transparent;
}
@keyframes text{
    0% {
        color: black;
        margin-bottom: -9px;
    }
    30% {
        letter-spacing: 10px;
        margin-bottom: -9px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -9px;
    }
}
/* styling hello section */
.hello{
    padding: 70px;
    border: 50px;
    background: rgb(30, 24, 108);
    
}
@keyframes appear{
    from{
        opacity: o;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.container{
    display: flex;
    gap: 140px;
    
}
.open-text{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}
.hello-image{
    max-width: 85%;
    height: auto;
}
.info{
    text-align: left;
}
.info .text{
    color: #fff;
    font-size: 16px;
    text-align: justify;
    margin-top: 30px;
}
/* counter up */
.counter-up{
    background: url(../Images/pexels-misael-garcia-832776-1707823.jpg);
    background-position: inherit;
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding-bottom: 60px;
    padding-top: 60px;
}
.counter{
    position: relative;
    display: flex;
    margin: 50px;
    gap: 150px;
}
.digits{
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
.texts{
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.fig{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.prof{
    width: 50px;
}
.fig:hover{
    width: 220px;
}
/* what resides */
.service-title{
    text-align: center;
    margin-bottom: 40px;
}
.service-title h2{
    font-size: 30px;
}
.service-title .pl-text{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 18px;
}
.resides{
    padding: 15px 3%;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #ffffff;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 40px;
}
a{
    text-decoration: none;
}
.box-content{
    box-shadow: 0px 1px 2px rgb(10, 10, 10);
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.box-content:hover{
    transform: translateY(-10px);
}
.box-content h3{
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 20px 0;
}
.box-content p{
    font-size: 16px;
    line-height: 20px;
    color: black;
}
.box-content .pic{
    width: 80px;
    padding: 10px;
    border-radius: 10px;
}
.read{
    margin-top: 5px;
    text-decoration: underline;
}
.animated{
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 1s;
}
@keyframes slide-in{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/*styling our team*/
.team-section{
    background-image: url(../Images/pexels-paul-loh-65233-233698.jpg);
    background-size: cover;
    min-height: 40vh;
    padding: 25px;
    margin: auto;
    text-align: center;
    background-color: #000000;
    padding-bottom: 60px;
    padding-top: 60px;
}
.team-section h2{
    font-size: 30px;
    color: #e44500;
    margin-bottom: 30px;
}
.team-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.team-member{
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgb(10, 10, 10);
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.team-member:hover{
    transform: translateY(-10px);
}
.team-member img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid  rgb(235, 156, 10);
    object-fit: cover;
    margin-bottom: 10px;
}
.team-member h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.team-member .heading{
    font-size: 18px;
    color: #3f2611;
    margin-bottom: 10px;
}
.team-member .words{
    font-size: 16px;
    color: #3f2611;
    line-height: 20px;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: orange;
}
.mySlides .image{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
}
.mySlides p{
    margin-top: 20px;
    padding: 0 100px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
}
.mySlides .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail .name{
    font-weight: 400;
}
.detail .job{
    font-style: italic;
    color: rgba(1, 3, 30, 0.584);
}
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}
.slideshow-container .core-heading{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: black;
    font-size: 30px;
    font-style: italic;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.dot-container {
    text-align: center;
    padding: 20px;
    background: orange;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(79, 78, 77);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* contact section styling */
.contact-section{
    padding: 90px 0;
    background: url(Images/white.jpg);
    background-size: cover;
    background-position: center center;
}
.contact-section .section-title {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    color: #000000;
}
.contact-section .open-text{
    font-weight: 500;
    color: #000000;
    font-size: 19px;
    line-height: 30px;
    margin: 50px;
    text-align: center;
}
.contract{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}
.contract .Contactinfo{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.contract .Contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contract .Contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgb(30, 24, 108);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contract .Contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000000;
    flex-direction: column;
    font-weight: 300;
}
.contract .Contactinfo .box .text h3{
    font-weight: bolder;
    color: rgb(224, 94, 24);
    padding-top: 5px;
}
.Contactform{
    width: 40%;
    padding: 40px;
    background: rgb(224, 94, 24);
    border-radius: 5px;
}
.Contactform h2{
    font-size: 30px;
    color: #000000;
    font-weight: 500;
}
.Contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.Contactform .inputbox input,
.Contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.Contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.Contactform .inputbox input:focus ~ span,
.Contactform .inputbox input:valid ~ span,
.Contactform .inputbox textarea:focus ~ span,
.Contactform .inputbox textarea:valid ~ span
{
    color: black;
    font-size: 14px;
    transform: translateY(-20px);
}
.Contactform .inputbox input[type="submit"]
{
    width: 100px;
    background: rgb(30, 24, 108);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgb(5, 5, 5);
    transition: 0.3s ease;
}
.Contactform .inputbox input:hover[type="submit"]
{
    color: rgb(10, 10, 10);
    background: transparent;
}
/* styling footer */
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background: black;
    padding: 70px 10px;
}
ul{
    list-style: none;
    text-align: center;
    
}
.list{
    padding: 7px;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50px -50px);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #0004f8;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.footer-col{
    width: 25%;
    padding: 7px;
}
.footer-col h2 {
    position: relative; /* Required for ::before to position properly */
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffffb0;
}
.footer-col h2::before {
    content: "";
    position: absolute;
    left: 50%; /* Center the line */
    transform: translateX(-50%);
    bottom: -6px;
    background-color: #c7bbbb;
    height: 2px;
    width: 40px;
}
 .footer-col p{
    color: #fff;
    width: 260px;
    margin: auto;
    padding: 7px;
 }
 .social-icons{
    text-align: center;
    padding: 7px;
 }
 .social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
   
 }
 .social-icons i{
    color: white;
    font-size: 20px;
 }
 a{
    text-decoration: none;
    color: #ffffff;
 }
 a:hover{
    color: #f87800;
 }
 .social-icons i:hover{
    color: #f87800;
 }
 .bottom-bar{
    text-align: center;
    padding: 10px 0;
    margin: auto;
    margin-top: 50px;
 }
.bottom-bar p{
    color: #ffffff;
    margin: auto;
    font-size: 18px;
    padding: 7px;
}
/*styling bottom-footer*/
.bottom-footer{
    text-align: center;
    background-color: #4e4d4d;
}
.craft{
    padding: 6px ;
}
.craft p{
    color: #fff;
}
.craft a{
    color: #f87400;
}
.craft a:hover{
    color: red;
}
/*responsiveness*/
@media (max-width: 1115px){
    .social-link-list{
        margin-left: 450px;
    }
    .content{
        width: 85%;
    }
    header .logo{
        width: 85px;
        left: 30px;
    }
    header ul li a{
        font-size: 15px;
        padding: 15px 25px;
    }
    .service-section{
        height: 130vh;
    }
    .hello-image{
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 900px){
    .top-footer {
        display: none;
    }
    header{
        padding: 10px 20px;
    }
    header .logo{
        width: 95px;
    }
    header nav{
        position: absolute;
        width: 50%;
        top: 115px;
        left: 0;
        background: black;
        display: none;
        z-index: 1000;
    }
    header.active nav{
        display: initial;
    }
    header nav ul li{
        width: 100%;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before{
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }
    .menuToggle::after{
        content: '';
        position: absolute;
        width: 70%;
        height: 1.5px;
        background: white;
        transform: translateY(12px);
    }
    header.active .menuToggle::before{
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }
    header.active .menuToggle::after{
        transform: rotate(315deg);
    }
    .content{
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%);
        width: 100%;
    }
    .content span{
        display: block;
    }
    .caption1{
        color: rgb(255, 115, 0);
        font-size: 38px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 20px;
        background: transparent;
        position: relative;
        animation: text 3s 1;
        animation-iteration-count: infinite;
    }
    .caption2{
        color: bisque;
        font-size: 14px;
        text-align: center;
    }
    .container{
        display: inline;
        gap: 140px;
    }
    .hello-image{
        max-width: 100%;
        height: auto;
    }
    .open-text{
        font-size: 28px;
        margin-bottom: 30px;
    }
    .owner{
        margin-left: 80px;
        margin-bottom: 40px;
    }
    .hello{
        padding: 20px;
    }
    .text.sec-text{
        font-size: 23px;
        text-align: left;
    }
    .counter{
        display: inline;
        margin: 10px;
        gap: 1px;
    }
    .prof{
        width: 50px;
        margin-top: 50px;
    }
    .typing{
        padding: 10px ;
    }
    .mySlides p{
        padding: 10px;
    }
    .contact-section {
        padding: 40px 4%;
    }
    .contract{
        display: inline;
    }
    .contract .contact-info{
        margin-bottom: 40px;
        font-family: 17px;
    }
    .contract .contact-info{
        width: 100%;
    }
    .Contactform{
        width: 100%;   
    }
    .contact-section .open-text{
        font-size: 19px;
    }
    footer{
        flex-direction: column;
    }
    .footer-col {
        width: 100%;
    }
    .footer-col p {
        width: 100%;
    }
    .footer-col h2 {
        text-align: left;
    }
    .footer-col h2::before {
        left: 5%; /* Center the line */
    }
    .social-icons{
        text-align: left;
        padding: 7px;
    }
    .list li{
        text-align: left;
        border-bottom: 1px solid #ffffff79;
    }
    .list li::before{
        display: none;
    }
    .footer-col h2::before {
        display: none;
    }
}